[server]
root_url = https://grafana-maralex.duckdns.org
http_addr = 0.0.0.0
http_port = 3000

[auth.generic_oauth]
enabled = true
name = Keycloak
allow_sign_up = true
client_id = grafana-oauth
client_secret = id2WAqrp1gRStdl0wV88YO87DfalODU5
scopes = openid email profile offline_access roles
email_attribute_path = email
login_attribute_path = preferred_username
name_attribute_path = full_name
auth_url = {{ keycloak_url }}/realms/master/protocol/openid-connect/auth
token_url = {{ keycloak_url }}/realms/master/protocol/openid-connect/token
api_url = {{ keycloak_url }}/realms/master/protocol/openid-connect/userinfo
role_attribute_path = contains(roles[*], 'admin') && 'Admin' || 'Viewer'
